-# coding: utf-8
<h2>GitHub To Lingrについて</h2>
%ul
  %li GitHubのOAuth認証でログインします
  %li ログインすると監視するかどうか設定することができます
  %li 監視設定を有効にするとGitHubの公開情報が監視されます
  %li 新しいコミットがあるときにはLingrにそのコミットメッセージとURLが送信されます
  %li 登録を解除するときは、GitHubの認証設定（URL: <a href="https://github.com/settings/applications">https://github.com/settings/applications</a>）からお願いします
  %li 利用する場合は自己責任でお願いします
