<ul>
<li>
%div=@watched_str
</li>
<li>
<form method="post" action="/register">
#{csrf_tag}
<input type="submit" value="監視設定を有効にする">
</form>
</li>
<li>
<form method="post" action="/unregister">
#{csrf_tag}
<input type="submit" value="監視設定を解除する">
</form>
</li>
<li>
<form method="post" action="/logout">
#{csrf_tag}
<input type="submit" value="ログアウト">
</form>
</li>
</ul>
<h2>GitHub To Lingrについて</h2>
%ul
  %li GitHubのOAuth認証でログインします
  %li ログインすると監視するかどうか設定することができます
  %li 監視設定を有効にするとGitHubの公開情報が監視されます
  %li 新しいコミットがあるときにはLingrにそのコミットメッセージとURLが送信されます
  %li 登録解除は、GitHubの認証設定（URL: <a href="https://github.com/settings/applications">https://github.com/settings/applications</a>）からできます
  %li 利用する場合は自己責任でお願いします
