-# coding: utf-8
<!doctype html>
%html{html_attrs('ja')}
  %head
    %meta{ charset: 'utf-8' }
    %title GitHub To Lingr
  %body
    %h1 GitHub To Lingr
    %div=@body
    = yield
    %div
      %img{src: 'https://travis-ci.org/sh19910711/github-to-lingr.png?branch=develop'}

